extends layout

block content
  .email-sent
    h1 Your email has been sent!
    h2 The hiring process is out of our hands now. It is now up to the applicant to respond to your offering letter
    a(href="/") Go home
