extends layout

block content
  h1 #{title}
  h2 #{subtitle}
  .create-new
    ul
      li
        a(href='/recruit')
          .inner-container  
            .icon.small.recruit
            span Recruitment Plan
      li
        a(href='/employees')
          .inner-container  
            .icon.small.employee
            span Employee
      li
        a(href='/contracts')
          .inner-container  
            .icon.small.contract
            span Contract
      li
        a(href='/applications')
          .inner-container  
            .icon.small.application
            span Application
      li
        a(href='/tests')
          .inner-container  
            .icon.small.test
            span Test
