extends layout

block content
  h1 #{title}
  h2 
    .icon.small.add 
    span #{subtitle}
  .create-new
    ul
      li
        a(href='/recruit/new')
          .inner-container  
            .icon.medium.recruit
            span Recruitment Plan
      li
        //- a(href='/employees/new')
        a(href='/employees')
          .inner-container  
            .icon.medium.employee
            span Employee
      li
        a(href='/contracts/new')
          .inner-container  
            .icon.medium.contract
            span Contract
      li
        a(href='/applications/new')
          .inner-container  
            .icon.medium.application
            span Application
      li
        a(href='/tests/new')
          .inner-container  
            .icon.medium.test
            span Test
