doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #top-border
    #menu.container
      include menu
    #content.container
      .inner-container
        block content
