doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #top-border
    #top-bar
    #menu.container
      .user
        .user-image
          img(src='/images/businessman.jpg', alt='Mike', title='Mike')
        .user-name
          span Welcome, Mike!
        .user-org
          span Mike's Business
      include menu
      .logo-container
        .logo-inner
          img(src='/images/logo.png', alt='MYOB Recruit', title='MYOB Recruit')
    #content.container
      .inner-container
        block content
