doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/vex.css')
    link(rel='stylesheet', href='/stylesheets/vex-theme-os.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/js/jquery-3.2.1.js')
    script(type='text/javascript', src='/js/js.cookie.js')
    script(type='text/javascript', src='/js/jquery.validate.js')
    script(type='text/javascript', src='/js/jquery.steps.js')
    script(type='text/javascript', src='/js/garlic.js')
    script(type='text/javascript', src='/js/vex.combined.js')
    script(type='text/javascript', src='/js/interact.js')
    script(type='text/javascript', src='/js/global.js')
  body
    #top-border
    #top-bar
    #menu.container.same-height-1
      .user
        .user-image
          img(src='/images/businessman.jpg', alt='Mike', title='Mike')
        .user-name
          span Welcome, Jared!
        .user-org
          span J Consulting
      include menu
      .logo-container
        .logo-inner
          img(src='/images/logo.png', alt='MYOB Recruit', title='MYOB Recruit')
    #content.container.same-height-1
      .inner-container.content
        block content
    footer
