doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/tweaks.css')
  body
    #top-border
    #menu
      include menu
    #content
      block content
