doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #top-border
    #menu.container
      .logo-container
        .logo-inner
          img(src='/images/logo.png', alt='MYOB Recruit', title='MYOB Recruit')
      include menu
    #content.container
      .inner-container
        block content
