nav#side-nav
  ul
    li
      a(href='/')
        .icon.home
        span Home
    li
      a(href='/recruit')
        .icon.recruit
        span Recruiting
    li
      a(href='/employees')
        .icon.employee
        span Employees
    li
      a(href='/contracts')
        .icon.contract
        span Contracts
    li
      a(href='/applications')
        .icon.application
        span Applications
    li
      a(href='/tests')
        .icon.test
        span Tests
    li
      a(href='/preferences')
        .icon.preferences
        span Preferences
