nav#side-nav
  ul
    li
      a(href='/')
        .inner-container  
          .icon.small.home
          span Home
    li
      a(href='/recruit')
        .inner-container  
          .icon.small.recruit
          span Recruiting
    li
      a(href='/employees')
        .inner-container  
          .icon.small.employee
          span Employees
    li
      a(href='/contracts')
        .inner-container  
          .icon.small.contract
          span Contracts
    li
      a(href='/applications')
        .inner-container  
          .icon.small.application
          span Applications
    li
      a(href='/tests')
        .inner-container  
          .icon.small.test
          span Tests
    li
      a(href='/preferences')
        .inner-container  
          .icon.small.preferences
          span Preferences
