nav
  ul
    li
      a
        .icon.home
        span Home
    li
      a
        .icon.home
        span Home
    li
      a
        .icon.home
        span Home
    li
      a
        .icon.home
        span Home
    li
      a
        .icon.home
        span Home
    li
      a
        .icon.home
        span Home
    li
      a
        .icon.home
        span Home
