extends layout

block content
  
  h1 #{title}
  h2 
    .icon.small.add 
    span #{subtitle}
  .building-container
    .side-boxes
      .drag-box.from.fields
        h3 Fields
      .drag-box.from.options
        h3 Options
    .form-building-container
      
      mixin fieldbox(name, type)
        .field
          a.expand ▼
          span.name= name
          span.type= type
          
      +fieldbox('Name', 'Text')
      +fieldbox('Do you have a drivers license?', 'Checkbox')
      +fieldbox('What is your current occupation?', 'Checkbox')
      
