extends layout

block content
  
  h1 #{title}
  .whole-form-building-container
    
    .side-boxes.wfb-child
      .drag-box.form.fields.clauses
        .inner-container    
          h3 Clauses
          
          input(type="text", placeholder="search clauses").search
          
          mixin dragfieldbox(name)
            .field.drag
              a
                span.name= name
                span.expand
              
          +dragfieldbox('General Provisions')
          +dragfieldbox('List')

    .form-building-container.wfb-child
      .inner-container
        .inner-inner-container
            input(type="text").title
            .fields
              mixin fieldbox(name)
                .field
                  a
                    span.expand ▼
                    span.name= name
              +fieldbox('Application')
              +fieldbox('Terms')
              +fieldbox('Remunerations')
              +fieldbox('Leave')
              +fieldbox('Disputes')
              +fieldbox('Termination')
              +fieldbox('Personal')

        ul.buttons
          li.cancel
            a Cancel
          li.download
            a Download contract as PDF
          li.preview
            a Preview
          li.send
            a Finish and send to applicant
