extends layout

block content
  
  h1 #{title}
  h2 Please check this offering letter before presenting this to your applicant
  .whole-form-building-container

    .form-building-container.offering-letter
      .inner-container
        .inner-inner-container
            .textarea
        ul.buttons
          li.cancel
            a Cancel
          li.edit
            a Edit
          li.download
            a Download letter as PDF
          li.contract-make
            a Create the contract
