extends layout

block content
  h1 #{title}
  h2 
    .icon.small.add 
    span #{subtitle}
  form#recruitment-plan-form(action='#', data-persist="garlic")
    div
      h3 Plan Name
      section
        input#rp-title.required(name='rp-title', type='text')
          //- , placeholder='recruitment plan name'
        p To save some stress, please have the following information ready.
        ul
          li Job Position
          li Job Description
          li Employment Type
          li Hours
          li Payment Type
          li Place of Work
      h3 Job Description
      section
        input#job-title.required(name='job-title', type='text', placeholder='job title')
        br
        textarea#job-desc.required(name='job-desc', placeholder='job description')
      h3 Terms & Payment
      section
        select#employment-type.required
          option(name='employment-type', value='employment type') employment type
          option(name='employment-type', value='employment type') permanent
          option(name='employment-type', value='employment type') employment type
        br
        span $
        input#per-hour-payment.required.small(name='per-hour-payment', type='text')
        span  per hour,
        select#payment-period.required
          option(name='payment-period', value='monthly') monthly
          option(name='payment-period', value='weekly') weekly
          option(name='payment-period', value='fortnightly') fortnightly
        br
        input#hours.required.small(name='hours', type='text')
        span  hours per
        select#hours-period.required
          option(name='hours-period', value='week') week
      h3 Application Form
      section
        h4.create-new Create New
        div.new-form
          a(href='/applications/new')
            .inner-container
              .icon.medium.application
              span Application Form
      h3 Test Form
      section
        h4.create-new Create New
        div.new-form
          a(href='/tests/new')
            .inner-container
              .icon.medium.test
              span Test Form
      h3 Confirmation
      section.confirm
        p These are your final details! Please check them over before you complete your recruitment plan.
        label.recruitment-plan-title.confirm-title Recruitment Plan
        br
        label.recruitment-plan.confirm-input Recruitment Plan
        br
        label.job-title-title.confirm-title Job Title
        br
        label.job-title.confirm-input Job Title
        br
        label.job-desc-title.confirm-title Job Description
        br
        label.job-desc.confirm-input Job Description
        br
        label.employment-type-title.confirm-title Employment
        br
        label.employment-type.confirm-input Employment
        br
        label
