extends layout

block content
  h1 #{title}
  h2 #{subtitle}

  form#example-form(action='#')
    div
      h3 Plan Name
      section
        input#rp-title(type='text', placeholder='recruitment plan title')
        span To save some stress, please have the following information ready.
        ul
          li Job Position
          li Job Description
          li Employment Type
          li Hours
          li Payment Type
          li Place of Work
      h3 Job Description
      section
        textarea#job-desc(placeholder='job description')
        input#job-title(type='text', placeholder='job title')
      h3 Terms & Payment
      section
        select#employment-type
          option(value='employment type') employment type
        input#per-hour-payment(type='text')
        span per hour, 
        select#payment-period
          option(value='fortnightly') fortnightly
        input#hours(type='text')
        span hours per
        select#hours-period
          option(value='week') week
      h3 Application Form
      section    
      h3 Test Form
      section
      h3 Review, Confirm and Launch
      section
        label.recruitment-plan
        br
        label.job-title
        br
        label.job-desc
        br
        label.employment-type
        br
        label
