extends layout

block content
  h1 #{title}
  h2 #{subtitle}

  form
    nav.form-nav
      ul
        li
          a.fs-01 Plan Name
        li
          a.fs-02 Job Description
        li
          a.fs-03 Terms & Payment
        li
          a.fs-04 Application Form
        li
          a.fs-05 Test
        li
          a.fs-06 Plan Confirmation
    section.fs-01
    section.fs-02
    section.fs-03
    section.fs-04
    section.fs-05
    section.fs-06
    
    
