extends layout

block content
  h1 #{title}
  h2 #{subtitle}

  form
    nav.form-nav
      ul
        li
          a.fs-01.current Plan Name
        li
          a.fs-02 Job Description
        li
          a.fs-03 Terms & Payment
        li
          a.fs-04 Application Form
        li
          a.fs-05 Test
        li
          a.fs-06 Plan Confirmation
    section.fs-01
      input(type='text')
      textarea
    section.fs-02
      select
        option(value='employment type') employment type
      input(type='text')
      span per hour, 
      select
        option(value='fortnightly') fortnightly
      input(type='text')
      span hours per
      select
        option(value='week') week
    section.fs-03
    section.fs-04
    section.fs-05
    section.fs-06
      label.recruitment-plan
      br
      label.job-title
      br
      label.job-desc
      br
      label.employment-type
      br
      label
      
    
    
