extends layout

block content
  h1 #{title}
  h2 
    .icon.small.add 
    span #{subtitle}
  form#example-form(action='#')
    div
      h3 Plan Name
      section
        input#rp-title.required(name='rp-title', type='text', placeholder='recruitment plan name')
        p To save some stress, please have the following information ready.
        ul
          li Job Position
          li Job Description
          li Employment Type
          li Hours
          li Payment Type
          li Place of Work
      h3 Job Description
      section
        input#job-title.required(name='job-title', type='text', placeholder='job title')
        br
        textarea#job-desc.required(name='job-desc', placeholder='job description')
      h3 Terms & Payment
      section
        select#employment-type.required
          option(name='employment-type', value='employment type') employment type
        br
        span $
        input#per-hour-payment.required(name='per-hour-payment', type='text')
        span per hour,
        select#payment-period.required
          option(name='payment-period', value='fortnightly') fortnightly
        br
        input#hours.required(name='hours', type='text')
        span hours per
        select#hours-period.required
          option(name='hours-period', value='week') week
      h3 Application Form
      section    
      h3 Test Form
      section
      h3 Confirmation
      section
        label.recruitment-plan
        br
        label.job-title
        br
        label.job-desc
        br
        label.employment-type
        br
        label
