@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,600,600i')

$side-width : 300px
$max-section-width : 960px
$topborder-height : 4px
$topbar-height : 60px

*
  outline: none !important

html, body
  margin: 0
  padding: 0

body
  font-family: 'Montserrat', sans-serif
  background-color: #eee
  color: #333

h1, h2, h3
  font-weight: 300
  margin-top: 0

h1
  font-size: 40px
  margin: 0 0 20px

h2
  margin-bottom: 35px

h2 .icon.small
  height: 30px
  margin-right: 5px
  transform: translateY(7px)

h3

img
  max-width: 100%
  height: auto

#top-border
  position: absolute
  z-index: 1000
  width: 100%
  height: #{$topborder-height}
  background: #6014a2
  background: -moz-linear-gradient(left, #6014a2 0%, #e72178 100%)
  background: -webkit-linear-gradient(left, #6014a2 0%, #e72178 100%)
  background: linear-gradient(to right, #6014a2 0%, #e72178 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6014a2', endColorstr='#e72178',GradientType=1 )

#top-bar
  display: none
  width: 100%
  height: #{$topbar-height}
  background-color: #fff
  position: relative
  z-index: 999
  -webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,0.5)
  box-shadow: 0 0 9px 0 rgba(0,0,0,0.5)

#menu
  width: #{$side-width}
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2)
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2)
  z-index: 100
  background-color: #fff

.user
  padding: 60px 15px 0
  .user-image
    text-align: center
    img
      border-radius: 50%
      max-width: 100px
  .user-name
    text-align: center
    padding: 15px 0
    span
      font-style: italic
  .user-org
    text-align: center
    span
      font-size: 25px

#content
  float: left
  left: #{$side-width}
  overflow: hidden
  width: -webkit-calc(100% - #{$side-width})
  width:    -moz-calc(100% - #{$side-width})
  width:         calc(100% - #{$side-width})
  max-width: -webkit-calc(1500px - #{$side-width})
  max-width:    -moz-calc(1500px - #{$side-width})
  max-width:         calc(1500px - #{$side-width})

.inner-container.content
  padding: 50px 60px

#menu, #content
  min-height: -webkit-calc(100% - #{$topborder-height})
  min-height:    -moz-calc(100% - #{$topborder-height})
  min-height:         calc(100% - #{$topborder-height})
  position: absolute
  padding-top: 4px

.logo-container
  width: 100%
  .logo-inner
    padding: 25px
    text-align: center
    img
      width: 100%
      max-width: 180px
      height: auto

#side-nav ul
  margin: 0
  padding: 20px 0
  li
    display: block
    list-style-type: none
    width: 100%
    height: 60px
    a
      color: #343535
      display: block
      width: 100%
      height: 100%
      line-height: 60px
      font-size: 20px
      text-decoration: none
      -webkit-transition: all 0.3s ease
      -moz-transition: all 0.3s ease
      -ms-transition: all 0.3s ease
      -o-transition: all 0.3s ease
      transition: all 0.3s ease
      &:hover
        background-color: rgba(123, 0, 255, 0.2)
      .inner-container
        padding-left: 20px
        .icon
          transform: translateY(25%)
        span
          padding: 0 15px 0 25px

.recruitment-plan-form

.create-new
  ul
    margin: 0
    padding: 0
.create-new ul li, div.new-form
  width: 240px
  min-height: 200px
  list-style-type: none
  padding: 0
  margin: 0 30px 30px 0
  display: block
  float: left
  background-color: #fff
  -webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,0.2)
  box-shadow: 0 0 9px 0 rgba(0,0,0,0.2)
  -webkit-transition: all 0.3s ease
  -moz-transition: all 0.3s ease
  -ms-transition: all 0.3s ease
  -o-transition: all 0.3s ease
  transition: all 0.3s ease
  &:hover
    transform: translateY(-10px)
  a
    width: 100%
    height: 100%
    display: block
    text-decoration: none
    .inner-container
      padding: 25px
      text-align: center
      >*
        display: block
        width: 100%
      .icon
        transform: translateY(0)
        height: 120px
        margin-bottom: 20px
      span
        color: #333
div.new-form
  float: none
  margin: 30px auto
  .inner-container
    padding-bottom: 20px
    span
      font-size: 14px

.icon
  background-position: center
  background-repeat: no-repeat
  background-size: contain
  display: inline-block

.icon.small
  width: 40px
  height: 40px

.icon.medium
  width: 140px
  height: 140px

.icon.large
  width: 240px
  height: 240px

.icon.home
  background-image: url('/images/house.png')

.icon.recruit
  background-image: url('/images/curriculum.png')

.icon.employee
  background-image: url('/images/users.png')

.icon.contract
  background-image: url('/images/diploma.png')

.icon.application
  background-image: url('/images/resume.png')

.icon.test
  background-image: url('/images/exam.png')

.icon.preferences
  background-image: url('/images/cogwheel-outline.png')

.icon.add
  background-image: url('/images/add.png')


// ------------------------------ //
//                                //
//             WiZaRd             //
//                                //
// ------------------------------ //

.clearfix
  *zoom: 1
  &:before
    display: table
    content: ""
    line-height: 0
  &:after
    display: table
    content: ""
    line-height: 0
    clear: both

.wizard, .tabcontrol
  display: block
  width: 100%
  overflow: hidden

.wizard a, .tabcontrol a
  outline: 0

.wizard ul, .tabcontrol ul
  list-style: none !important
  padding: 0
  margin: 0

.wizard ul > li, .tabcontrol ul > li
  display: block
  padding: 0

.wizard > .steps .current-info, .tabcontrol > .steps .current-info, .wizard > .content > .title, .tabcontrol > .content > .title
  display: none

.wizard
  > .steps
    position: relative
    display: block
    width: 100%
  &.vertical
    > .steps
      display: inline
      float: left
      width: 30%
    > .steps > ul > li
      float: none
      width: 100%
    > .content
      display: inline
      float: left
      margin: 0 2.5% .5em 2.5%
      width: 65%
    > .actions
      display: inline
      float: right
      margin: 0 2.5%
      width: 95%
    > .actions > ul > li
      margin: 0 0 0 1em
  >
    .steps
      .number
        display: none
      > ul > li
        width: 11.25%
        float: left
        margin-right: 6%
        &.last
          margin-right: 0
    .actions > ul > li
      float: left
  >
    .steps
      a
        display: block
        width: 100%
        text-decoration: none
        text-align: center
        font-size: 13px
        &::before
          display: block
          content: ""
          width: 100%
          height: 7px
          margin-bottom: 5px
      .disabled a
        // background: #eee
        color: #aaa
        cursor: default
        text-align: center
        &:hover, &:active
          // background: #eee
          // color: #aaa
          cursor: default
        &::before
          background-color: #aaa
      .current a
        // background: #2184be
        color: #333
        cursor: default
        &:hover, &:active
          // background: #2184be
          // color: #fff
          cursor: default
        &::before
          background-color: #78019d
      .done a
        // background: #9dc8e2
        color: #aaa
        &:hover, &:active
          // background: #9dc8e2
          // color: #fff
        &::before
          background-color: #9281b5
      .error a
        // background: #ff3111
        color: #fff
        &:hover, &:active
          // background: #ff3111
          // color: #fff
    .content
      display: block
      margin: .5em
      min-height: 400px
      overflow: hidden
      position: relative
      width: auto
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 5px
  >
    .content > .body
      float: left
      position: absolute
      width: 100%
      height: 97%
      padding: 3% 0 0 0
      font-size: 20px !important
      ul
        list-style: disc !important
        text-indent: -20px
        margin-left: 20px
        > li
          display: list-item
          padding-left: 20px
          margin-bottom: 4px
      > iframe
        border: 0 none
        width: 100%
        height: 100%
      p
        margin-top: 0
        max-width: 700px
      input, textarea, select
        display: inline-block
        font-weight: 300
        border-top: none
        border-left: none
        border-right: none
        border-bottom: 2px solid #78019d
        background: none
        font-size: 20px
        font-family: 'Montserrat', sans-serif
        padding: 0 5px
        color: #333
        margin-bottom: 20px
        &[type="checkbox"]
          display: inline-block
        &.error
          // background: #fbe3e4
          // border: 1px solid #fbc2c4
          color: #8a1f11
          option
            font-size: 20px
      select
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        border-radius: 0
        padding-right: 10px
        display: inline-block
      input[type='text']
        width: 400px
        &.small
          width: 100px
      textarea
        resize: none
        height: 250px
        width: 100%
        max-width: 600px
      label
        display: inline-block
        margin-bottom: .5em
        &.error
          // color: #8a1f11
          display: inline-block
          margin-left: 1.5em
        &.confirm-title
          font-size: 10px
          margin-bottom: 0
          color: #78019d
        &.confirm-input
          font-weight: 300
          font-size: 15px
          max-width: 600px
    .actions
      position: relative
      display: block
      text-align: right
      width: 100%
  > .actions > ul
    width: 100%
    display: inline-block
    text-align: right
    li
      margin: 0 .5em
      -webkit-transition: all 0.3s ease
      -moz-transition: all 0.3s ease
      -ms-transition: all 0.3s ease
      -o-transition: all 0.3s ease
      transition: all 0.3s ease
    li:not(:first-child)
      float: right
    li[aria-disabled='true']
      opacity: 0
      pointer-events: none
  >
    .actions
      a
        background: #78019d
        color: #fff
        display: block
        padding: 1em 1.5em
        text-decoration: none
        width: 80px
        text-align: center
      .disabled a
        // background: #eee
        // color: #aaa
        &:hover, &:active
          // background: #eee
          // color: #aaa
    .loading .spinner

.tabcontrol >
  .steps
    position: relative
    display: block
    width: 100%
    > ul
      position: relative
      margin: 6px 0 0 0
      top: 1px
      z-index: 1
      > li
        float: left
        margin: 5px 2px 0 0
        padding: 1px
        -webkit-border-top-left-radius: 5px
        -webkit-border-top-right-radius: 5px
        -moz-border-radius-topleft: 5px
        -moz-border-radius-topright: 5px
        border-top-left-radius: 5px
        border-top-right-radius: 5px
        &:hover
          background: #edecec
          border: 1px solid #bbb
          padding: 0
        &.current
          background: #fff
          border: 1px solid #bbb
          border-bottom: 0 none
          padding: 0 0 1px 0
          margin-top: 0
          > a
            padding: 15px 30px 10px 30px
        > a
          color: #5f5f5f
          display: inline-block
          border: 0 none
          margin: 0
          padding: 10px 30px
          text-decoration: none
          &:hover
            text-decoration: none

  .content
    position: relative
    display: inline-block
    width: 100%
    height: 35em
    overflow: hidden
    border-top: 1px solid #bbb
    padding-top: 20px
    > .body
      float: left
      position: absolute
      width: 95%
      height: 95%
      padding: 2.5%
      ul
        list-style: disc !important
        > li
          display: list-item
