@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,600,600i')

$side-width : 320px
$max-section-width : 960px
$topborder-height : 4px
$topbar-height : 60px

$purp : #78019d
$pink : #c50485

*
  outline: none !important

html, body
  margin: 0
  padding: 0

body
  font-family: 'Montserrat', sans-serif
  background-color: #eee
  color: #333

h1, h2, h3
  font-weight: 300
  margin-top: 0

h1
  font-size: 40px
  margin: 0 0 20px

h2
  margin-bottom: 35px

h2 .icon.small
  height: 30px
  margin-right: 5px
  transform: translateY(7px)

h3

h4
  font-weight: 400

img
  max-width: 100%
  height: auto

#top-border
  position: absolute
  z-index: 1000
  width: 100%
  height: #{$topborder-height}
  background: #6014a2
  background: -moz-linear-gradient(left, #6014a2 0%, #e72178 100%)
  background: -webkit-linear-gradient(left, #6014a2 0%, #e72178 100%)
  background: linear-gradient(to right, #6014a2 0%, #e72178 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6014a2', endColorstr='#e72178',GradientType=1 )

#top-bar
  display: none
  width: 100%
  height: #{$topbar-height}
  background-color: #fff
  position: relative
  z-index: 999
  -webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,0.5)
  box-shadow: 0 0 9px 0 rgba(0,0,0,0.5)

#menu
  width: #{$side-width}
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2)
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2)
  z-index: 100
  background-color: #fff

.user
  padding: 60px 15px 0
  .user-image
    text-align: center
    img
      border-radius: 50%
      max-width: 100px
  .user-name
    text-align: center
    padding: 15px 0
    span
      font-style: italic
  .user-org
    text-align: center
    span
      font-size: 25px

#content
  float: left
  left: #{$side-width}
  width: -webkit-calc(100% - #{$side-width})
  width:    -moz-calc(100% - #{$side-width})
  width:         calc(100% - #{$side-width})
  overflow-y: scroll

.inner-container.content
  padding: 50px 60px
  max-width: -webkit-calc(1400px - #{$side-width})
  max-width:    -moz-calc(1400px - #{$side-width})
  max-width:         calc(1400px - #{$side-width})

#menu, #content
  min-height: -webkit-calc(100% - #{$topborder-height})
  min-height:    -moz-calc(100% - #{$topborder-height})
  min-height:         calc(100% - #{$topborder-height})
  height: -webkit-calc(100% - #{$topborder-height})
  height:    -moz-calc(100% - #{$topborder-height})
  height:         calc(100% - #{$topborder-height})
  position: absolute
  padding-top: 4px

.logo-container
  width: 100%
  .logo-inner
    padding: 25px
    text-align: center
    img
      width: 100%
      max-width: 180px
      height: auto

#side-nav ul
  margin: 0
  padding: 20px 0
  li
    display: block
    list-style-type: none
    width: 100%
    height: 60px
    a
      color: #343535
      display: block
      width: 100%
      height: 100%
      line-height: 60px
      font-size: 20px
      text-decoration: none
      -webkit-transition: all 0.3s ease
      -moz-transition: all 0.3s ease
      -ms-transition: all 0.3s ease
      -o-transition: all 0.3s ease
      transition: all 0.3s ease
      &:hover
        background-color: rgba(123, 0, 255, 0.2)
      .inner-container
        padding-left: 20px
        .icon
          transform: translateY(25%)
        span
          padding: 0 15px 0 25px

.recruitment-plan-form

.create-new, .edit-obj
  ul
    margin: 0
    padding: 0
.create-new ul li, .edit-obj ul li, div.new-form
  width: 240px
  min-height: 200px
  list-style-type: none
  padding: 0
  margin: 0 30px 30px 0
  display: block
  float: left
  background-color: #fff
  -webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,0.2)
  box-shadow: 0 0 9px 0 rgba(0,0,0,0.2)
  -webkit-transition: all 0.3s ease
  -moz-transition: all 0.3s ease
  -ms-transition: all 0.3s ease
  -o-transition: all 0.3s ease
  transition: all 0.3s ease
  &:hover
    transform: translateY(-10px)
  a
    width: 100%
    height: 100%
    display: block
    text-decoration: none
    .inner-container
      padding: 25px
      text-align: center
      >*
        display: block
        width: 100%
      .icon
        transform: translateY(0)
        height: 120px
        margin-bottom: 20px
      span
        color: #333
div.new-form
  float: none
  margin: 30px auto
  .inner-container
    padding-bottom: 20px
    span
      font-size: 14px

.edit-obj
  ul
    li
      width: 160px
      min-height: 160px
      a
        .inner-container
          padding: 15px 10px 10px 10px
          .icon.small
            width: 80px
            height: 80px
            margin: 0 auto 15px

.whole-form-building-container
  width: 100%
  .wfb-child
    float: left
    .inner-container
      padding: 20px 20px 30px
      .drag
        background-color: #fff
        padding: 15px
        -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.2)
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.2)
        margin-bottom: 20px
  .side-boxes
    width: 30%
    .drag-box
      background-color: #fafafa
      margin-bottom: 40px
      -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.4)
      box-shadow: 0 0 6px 0 rgba(0,0,0,0.4)
      h3
        text-align: center
  .form-building-container
    width: 70%
    margin-bottom: 40px
    .inner-container
      padding: 0 0 0 30px
      position: relative
      .inner-inner-container
        padding: 25px 30px
        border: 0.5px solid rgba(0, 0, 0, 0.2)
        border-radius: 4px
        background-color: rgba(255, 255, 255, 0.24)
        .title
          width: 80%
          display: inline-block
          font-weight: 300
          border-top: none
          border-left: none
          border-right: none
          border-bottom: 2px solid $purp
          background: none
          font-size: 30px
          font-family: 'Montserrat', sans-serif
          padding: 3px 5px
          color: #333
          margin-bottom: 20px
        .fields
          min-height: 300px
          margin-bottom: 40px
          .field
            background-color: #fff
            padding: 15px
            margin-bottom: 20px
            -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.2)
            box-shadow: 0 0 8px 0 rgba(0,0,0,0.2)
            .expand
              font-size: 30px
              display: inline-block
              line-height: 0px
              position: relative
              top: 3px
              margin-right: 15px
            .type
              float: right
              font-size: 13px
              color: #9b9b9b

.option
  margin-bottom: 10px
  span
    display: inline-block
    padding-top: 3px
  .input
    width: 80px
    float: right
    input
      width: 100%
      border: none
      font-size: 17px
      text-align: right
      background: none

.vex-dialog-message
  // font-size: 24px

.vex.vex-theme-os .vex-dialog-form .vex-dialog-buttons
  padding: 0 15px 10px

.vex.vex-theme-os .vex-dialog-button
  text-transform: lowercase
  font-size: 17px

.vex.vex-theme-os .vex-dialog-button.vex-dialog-button-primary
  background-color: $purp !important
  letter-spacing: 0
  border-radius: 0

.vex.vex-theme-os .vex-content
  width: 800px

.vex-field-wrapper
  margin: 10px 15px 30px

.qr-container
  overflow: hidden
  -webkit-transition: all 0.6s ease
  -moz-transition: all 0.6s ease
  -ms-transition: all 0.6s ease
  -o-transition: all 0.6s ease
  transition: all 0.6s ease

div.clipboard
  width: 100%
  display: inline-block
  input, label
    float: left
    border: none !important
    height: 40px
    padding: 5px 0.5%
    text-align: center
  input
    width: 74% !important
    border-radius: 7px 0 0 7px
    font-size: 13px
  label
    width: 24% !important
    border-radius: 0 7px 7px 0
    background-color: $purp
    color: #fff
    line-height: 30px
    font-size: 15.5px
    cursor: pointer

.content.inner-container > div.clipboard
  width: 80%
  margin-bottom: 20px
  input
    font-size: 17px
  label
    line-height: 40px

p.qr-link
  text-align: center
  font-size: 15px
  -webkit-transition: all 0.3s ease
  -moz-transition: all 0.3s ease
  -ms-transition: all 0.3s ease
  -o-transition: all 0.3s ease
  transition: all 0.3s ease
  a
    text-decoration: underline
    &:hover
      cursor: pointer
    &.hide
      pointer-events: none
      opacity: 0


.slidecbcontainer
  margin-bottom: 10px
  span
    display: inline-block
    padding-top: 3px
  .slidecheckbox
    width: 75px
    height: 26px
    background: #eee
    position: relative
    border-radius: 50px
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.1)
    float: right
    &:after
      content: 'Off'
      text-transform: uppercase
      color: #333
      position: absolute
      right: 10px
      z-index: 0
      font: 12px/26px Arial, sans-serif
      font-weight: bold
      text-shadow: 1px 1px 0px rgba(255,255,255,.15)
    &:before
      content: 'On'
      text-transform: uppercase
      color: $purp
      position: absolute
      left: 10px
      z-index: 0
      font: 12px/26px Arial, sans-serif
      font-weight: bold
    label
      display: block
      width: 34px
      height: 20px
      cursor: pointer
      position: absolute
      top: 3px
      left: 3px
      z-index: 1
      background: #fcfff4
      background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%)
      border-radius: 50px
      transition: all 0.4s ease
      box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2)
    input[type=checkbox]
      visibility: hidden
      &:checked + label
        left: 38px

ul.table-menu
  width: 100%
  margin: 30px 0 20px
  padding: 0
  li
    list-style-type: none
    display: inline-block
    margin-right: 30px
    cursor: pointer
    -webkit-transition: all 0.3s ease
    -moz-transition: all 0.3s ease
    -ms-transition: all 0.3s ease
    -o-transition: all 0.3s ease
    transition: all 0.3s ease
    a
      display: inline-block
    &:hover
      transform: translateY(-6px)
    .icon
      margin-right: 6px
    span
      font-size: 17px
      position: relative
      top: -10px

.newobjectbuttonset
  width: 100%
  clear: both
  input[type="submit"], button
    font-family: 'Montserrat', sans-serif
    font-size: 16px
    background: $purp
    color: #fff
    display: inline-block
    padding: 1em 1.5em
    text-decoration: none
    min-width: 128px
    text-align: center
    border: none
    cursor: pointer
    text-transform: lowercase
    -webkit-transition: all 0.3s ease
    -moz-transition: all 0.3s ease
    -ms-transition: all 0.3s ease
    -o-transition: all 0.3s ease
    transition: all 0.3s ease
    &:hover
      background-color: $pink
    &.submit
      float: right
    &.canncel
      float: left

table
  width: 100%
  th, td
    text-align: left
    font-size: 19px
  th
    font-weight: 500
    padding: 10px 5px
  td
    padding: 15px 5px
  .hidden
    opacity: 0

//          Icons:         //

.icon
  background-position: center
  background-repeat: no-repeat
  background-size: contain
  display: inline-block

.icon.small
  width: 40px
  height: 40px

.icon.medium
  width: 140px
  height: 140px

.icon.large
  width: 240px
  height: 240px

.icon.home
  background-image: url('/images/house.png')

.icon.recruit
  background-image: url('/images/curriculum.png')

.icon.employee
  background-image: url('/images/users.png')

.icon.contract
  background-image: url('/images/diploma.png')

.icon.application
  background-image: url('/images/resume.png')

.icon.test
  background-image: url('/images/exam.png')

.icon.preferences
  background-image: url('/images/cogwheel-outline.png')

.icon.add
  background-image: url('/images/add.png')

.icon.trash
  background-image: url('/images/garbage.png')

.icon.approve
  background-image: url('/images/sticker.png')


// ------------------------------------------------------------ //
//                                                              //
//                            WiZaRd                            //
//                                                              //
// ------------------------------------------------------------ //

.clearfix
  *zoom: 1
  &:before
    display: table
    content: ""
    line-height: 0
  &:after
    display: table
    content: ""
    line-height: 0
    clear: both

.wizard, .tabcontrol
  display: block
  width: 100%
  overflow: hidden

.wizard a, .tabcontrol a
  outline: 0

.wizard ul, .tabcontrol ul
  list-style: none !important
  padding: 0
  margin: 0

.wizard ul > li, .tabcontrol ul > li
  display: block
  padding: 0

.wizard > .steps .current-info, .tabcontrol > .steps .current-info, .wizard > .content > .title, .tabcontrol > .content > .title
  display: none

.wizard
  > .steps
    position: relative
    display: block
    width: 100%
  &.vertical
    > .steps
      display: inline
      float: left
      width: 30%
    > .steps > ul > li
      float: none
      width: 100%
    > .content
      display: inline
      float: left
      margin: 0 2.5% .5em 2.5%
      width: 65%
    > .actions
      display: inline
      float: right
      margin: 0 2.5%
      width: 95%
    > .actions > ul > li
      margin: 0 0 0 1em
  >
    .steps
      .number
        display: none
      > ul > li
        width: 11.25%
        float: left
        margin-right: 6%
        &.last
          margin-right: 0
    .actions > ul > li
      float: left
  >
    .steps
      a
        display: block
        width: 100%
        text-decoration: none
        text-align: center
        font-size: 13px
        &::before
          display: block
          content: ""
          width: 100%
          height: 7px
          margin-bottom: 5px
      .disabled a
        // background: #eee
        color: #aaa
        cursor: default
        text-align: center
        &:hover, &:active
          // background: #eee
          // color: #aaa
          cursor: default
        &::before
          background-color: #aaa
      .current a
        // background: #2184be
        color: #333
        cursor: default
        &:hover, &:active
          // background: #2184be
          // color: #fff
          cursor: default
        &::before
          background-color: $purp
      .done a
        // background: #9dc8e2
        color: #aaa
        &:hover, &:active
          // background: #9dc8e2
          // color: #fff
        &::before
          background-color: #9281b5
      .error a
        // background: #ff3111
        color: #333
        &:hover, &:active
          // background: #ff3111
          // color: #fff
    .content
      display: block
      margin: .5em
      min-height: 400px
      overflow: hidden
      position: relative
      width: auto
  >
    .content > .body
      float: left
      position: absolute
      width: 100%
      height: 97%
      padding: 3% 0 0 0
      font-size: 20px !important
      h4
        text-align: center
      ul
        list-style: disc !important
        text-indent: -20px
        margin-left: 20px
        > li
          display: list-item
          padding-left: 20px
          margin-bottom: 4px
      > iframe
        border: 0 none
        width: 100%
        height: 100%
      p
        margin-top: 0
        max-width: 800px
      input, textarea, select
        display: inline-block
        font-weight: 300
        border-top: none
        border-left: none
        border-right: none
        border-bottom: 2px solid $purp
        background: none
        font-size: 20px
        font-family: 'Montserrat', sans-serif
        padding: 0 5px
        color: #333
        margin-bottom: 20px
        &[type="checkbox"]
          display: inline-block
        &.error
          // background: #fbe3e4
          // border: 1px solid #fbc2c4
          color: #8a1f11
          option
            font-size: 20px
      select
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        border-radius: 0
        padding-right: 10px
        display: inline-block
      input[type='text']
        width: 400px
        &.small
          width: 100px
      textarea
        resize: none
        height: 250px
        width: 100%
        max-width: 600px
      label
        display: inline-block
        margin-bottom: .5em
        &.error
          // color: #8a1f11
          display: inline-block
          margin-left: 1.5em
        &.confirm-title
          font-size: 10px
          margin-bottom: 0
          color: $purp
        &.confirm-input
          font-weight: 300
          font-size: 15px
          max-width: 600px
    .actions
      position: relative
      display: block
      text-align: right
      width: 100%
  > .actions > ul
    width: 100%
    display: inline-block
    text-align: right
    li
      margin: 0 .5em
      -webkit-transition: all 0.3s ease
      -moz-transition: all 0.3s ease
      -ms-transition: all 0.3s ease
      -o-transition: all 0.3s ease
      transition: all 0.3s ease
    li:not(:first-child)
      float: right
    li[aria-disabled='true']
      opacity: 0
      pointer-events: none
  >
    .actions
      a
        background: $purp
        color: #fff
        display: block
        padding: 1em 1.5em
        text-decoration: none
        width: 80px
        text-align: center
        text-transform: lowercase
        -webkit-transition: all 0.3s ease
        -moz-transition: all 0.3s ease
        -ms-transition: all 0.3s ease
        -o-transition: all 0.3s ease
        transition: all 0.3s ease
        &:hover
          background-color: $pink
      .disabled a
        &:hover, &:active
    .loading .spinner

.tabcontrol >
  .steps
    position: relative
    display: block
    width: 100%
    > ul
      position: relative
      margin: 6px 0 0 0
      top: 1px
      z-index: 1
      > li
        float: left
        margin: 5px 2px 0 0
        padding: 1px
        -webkit-border-top-left-radius: 5px
        -webkit-border-top-right-radius: 5px
        -moz-border-radius-topleft: 5px
        -moz-border-radius-topright: 5px
        border-top-left-radius: 5px
        border-top-right-radius: 5px
        &:hover
          background: #edecec
          border: 1px solid #bbb
          padding: 0
        &.current
          background: #fff
          border: 1px solid #bbb
          border-bottom: 0 none
          padding: 0 0 1px 0
          margin-top: 0
          > a
            padding: 15px 30px 10px 30px
        > a
          color: #5f5f5f
          display: inline-block
          border: 0 none
          margin: 0
          padding: 10px 30px
          text-decoration: none
          &:hover
            text-decoration: none

  .content
    position: relative
    display: inline-block
    width: 100%
    height: 35em
    overflow: hidden
    border-top: 1px solid #bbb
    padding-top: 20px
    > .body
      float: left
      position: absolute
      width: 95%
      height: 95%
      padding: 2.5%
      ul
        list-style: disc !important
        > li
          display: list-item
