extend default

block content
  section#section-05.section.section-05.application-forms
    .section-title
      h2 Application Forms
    article#article-05-01
      h3 Application Forms
    article#article-05-02
      h3 + Application Form
