extend default

block content
  section#section-03.section.section-03.employees
    .section-title
      h2 Employees
    article#article-03-01
      h3 Employees
    article#article-03-02
      h3 + Create New Employee
