extend default

block content
  section#section-01.section.section-01.home.active
    .section-title
      h2 Welcome, Mike!
    article#article-01-01
      h3 + Create New
      
  section#section-02.section.section-02.recruiting
    include recruiting
  section#section-03.section.section-03.employees
    include employees
  section#section-04.section.section-04.contracts
    include contracts
  section#section-05.section.section-05.application-forms
    include applicationforms
  section#section-06.section.section-06.test-forms
    include testforms
  section#section-07.section.section-07.preferences
    include preferences
